[Unit]
Description="CCHS computer vision"
After=multi-user.target

[Service]
ExecStart=/home/jetson/.pyenv/shims/python -m ccvision.main
WorkingDirectory=/home/jetson/ComputerVision
Restart=always
User=jetson
Group=jetson
#StartLimitInterval=10
#RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
